@import url("./style-guideline.css");
@import url("./grid.css");

@import url("./page/tour-guide-page.css");
@import url("./page/activity.css");
@import url("./page/activity.css");
@import url("./page/search.css");
@import url("./page/about.css");
@import url("./page/books-detail.css");
@import url("./page/newbooks.css");
@import url("./page/contact.css");

@import url("./component/nav-bar.css");
@import url("./component/title-area.css");
@import url("./component/button.css");
@import url("./component/activity-cards.css");
@import url("./component/footer.css");
@import url("./component/book-list.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-neutral-800);
}
/* 切換頁面的開關 */
.hidden{
    display: none;
}

/* ==== hero swiper ==== */
.hero .swiper{
    position: relative;
}
.hero .swiper-slide img{
    width:100%;
}
.hero .swiper-pagination-bullet{
    background-color: var(--color-neutral-100);
}
.hero .swiper-pagination-bullet-active{
    background-color: var(--color-accent-green-700);
}

/* ===== 搜尋列 ===== */
.search-bar{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 910px;
    z-index: 2;
    margin: 0 auto;
}
.search-bar:has(input:focus) .search-box,
.search-title:has(input:focus) .search-box{
    border: 2px solid var(--color-accent-green-700);
}
.search-box{
    height: 60px;
    max-width: 910px;
    width: 100%;
    border-radius: 40px;
    border: 1px solid var(--color-neutral-500);
    overflow: hidden;
    display: flex;
    margin: 0 auto;
}
.search-box input{
    flex-grow: 1;
    border: none;
    font-size: 1rem;
    padding-left: 40px;
}
.search-box button:hover{
    background: var(--color-neutral-100);
    transition: .3s;
}
.tab-btn{
    display: inline-flex;
    padding: 4px 35px;
    background-color: var(--color-white);
    border-radius: 30px;
    border: 1px solid var(--color-neutral-500);
    cursor: pointer;

    position: relative;
    margin-bottom: 8px;
    text-decoration: none;
    letter-spacing: 2px;
}
.tab-btn::after{
    content: "";
    width: 60%;
    height: 4px;
    background-color: var(--color-accent-green-700);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -9px;
    border-radius: 4px 4px 0 0;
    transition: opacity .3s ease, transform .3s ease;
    opacity: 0;
}
.tab-btn:hover{
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-accent-green-200);
    color: var(--color-accent-green-700);
    font-weight: 500;
}
.tab-btn.active::after, .tab-btn:hover::after{
    opacity: 1;
}
.tab-btn.active{
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-accent-green-700);
    color: var(--color-white);
    transition: .3s;
}
.tab-btn.active:hover{
    background-color: var(--color-accent-green-800);
}
/* search icon */
.search-icon-btn{
    background: none;
    background-color: var(--color-white);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    position: relative;
}
.search-icon-btn .material-symbols-outlined{
    font-size: 1.8rem;
    color: var(--color-neutral-800);
}


/* ==== 首頁分眾按鈕 ==== */
.tour-guide{
    display: flex;
    padding: 120px 0;
    flex-direction: column;
    position: relative;
}
.tour-guide a{
    text-decoration: none;
}
.tour-guide .cards-group{
    display: flex;
    gap: 20px;
}
.tour-guide img{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.tour-guide .card{
    text-align: center;
    border: 1px solid var(--color-neutral-500);
    background-color: var(--color-white);
    border-radius: 20px;

    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    min-height: 370px;
}
.tour-guide .card .arrow{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
}
.tour-guide .card:hover .arrow{
    font-size: 35px;
    right: 10px;
    top: 10px;
    transition: .3s;
}
.tour-guide .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour-guide .card-content span:nth-child(1){
    font-size: 6rem;
    color: var(--color-accent-green-700);
}
.tour-guide .card h4{
    color: var(--color-accent-green-700);
    margin: 8px 0 12px 0;
}
.tour-guide .card .h3-eg{
    opacity: 0;
    height: 0;
    margin: 0;
    transform: translateY(10px);
}
.tour-guide .card:hover .h3-eg{
    opacity: 1;
    transform: translateY(0);
    transition: .3s ease;
}
.tour-guide .card:hover{
    transition: .3s;
    transform: translateY(-5px);
    opacity: 1;
}
.tour-guide .card:hover .btn-sm-group{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: height .3s ease, opacity .3s ease, visibility .3s ease;
    margin: 0;
}
.tour-guide .title{
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.btn-sm-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 12px;
    width: 90%;
}
.tour-guide .btn-sm-group > .btn-sm{
    border: 1px solid var(--color-accent-green-700);
    border-radius: 25px;
    padding: 5px 24px;
}

/* 分眾pink hover效果 */
.tour-guide .card.pink:hover{
    background-color: var(--color-secondary-pink-100);
    border: 1px solid var(--color-secondary-pink-700);
}
.tour-guide .card.pink:hover span, 
.tour-guide .card.pink:hover h4{
    color: var(--color-secondary-pink-700);
}
.tour-guide .card.pink:hover .h3-eg{
    color: var(--color-secondary-pink-700);
}

/* 分眾orange hover效果 */
.tour-guide .card.orange:hover{
    background-color: var(--color-secondary-orange-100);
    border: 1px solid var(--color-secondary-orange-700);
}
.tour-guide .card.orange:hover span, 
.tour-guide .card.orange:hover h4{
    color: var(--color-secondary-orange-700);
}
.tour-guide .card.orange:hover .h3-eg{
    color: var(--color-secondary-orange-700);
}

/* 分眾purple hover效果 */
.tour-guide .card.purple:hover{
    background-color: var(--color-secondary-purple-100);
    border: 1px solid var(--color-secondary-purple-700);
}
.tour-guide .card.purple:hover span, 
.tour-guide .card.purple:hover h4{
    color: var(--color-secondary-purple-700);
}
.tour-guide .card.purple:hover .h3-eg{
    color: var(--color-secondary-purple-700);
}


/* ==== news ==== */
.news{
    position: relative;
}
.news .title{
    display: flex;
    flex-direction: column;
}
.news .title .h1-eg-medium{
    color: var(--color-accent-green-700);
    margin-bottom: -20px;
}
.news img:nth-of-type(1){
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.news img:nth-of-type(2){
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.news-group{
    justify-content: end;
}
.news-item{
    display: flex;
    padding: 20px 0;
    border-top: 1px solid var(--color-neutral-500);
}
.news-list .news-item:nth-child(6){
    border-bottom: 1px solid var(--color-neutral-500);
}
.news-list{
    flex-direction: column;
}
.news-item .date p:nth-child(2){
    color: var(--color-accent-green-700);
    display: inline-flex;
    align-items: center;
}
.news-item .date p:nth-child(2) span{
    background-color: var(--color-accent-green-700);
    color: var(--color-white);
    border-radius: 50%;
    width: 26px;
    height: 26px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 36px 0 6px;
}
.news-item .date{
    border-right: 1px solid var(--color-neutral-500);
}
.news-title{
    display: flex;
    align-items: center;
    max-width: 80%;
    width: 100%;
    justify-content: space-between;
}
.news-title p{
    margin: 0 36px;
}
.news-title:hover span{
    transform: translateX(10px);
    transition: .3s ease-out;
    color: var(--color-accent-green-700);
}
.news-title:hover p{
    color: var(--color-accent-green-700);
    cursor: pointer;
}
/* news裡的page-btn定位 */
.news .page-btn{
    margin-top: 30px;
    justify-content: end;
}


/* ==== newbooks ==== */
.newbooks{
    position: relative;
    background: url('../images/asfalt-dark0.6.png') ,  #EDEDED;
    padding: 125px 0;
}
.newbooks > img{
    position: absolute;
    right: 0;
    top: 0;
}
.newbooks .title{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.newbooks .title span{
    color: var(--color-accent-green-700);
    margin-bottom: -20px;
}
.newbooks .books-list:nth-child(even){
    margin-top: 134px;
}
.newbooks .col-12{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

/* ==== hot-activity ==== */
.hot-activity{
    position: relative;
    padding: 85px 0 0 0;
    overflow: hidden;
}
.hot-activity img.bg{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index:-1;
}
.hot-activity .container .title{
    margin-bottom: 80px;
}
.hot-activity .title{
    display: flex;
    flex-direction: column;
}
.hot-activity .title span{
    color: var(--color-accent-green-700);
    margin-bottom: -20px;
}

.hot-activity .card img{
    border-radius: 30px;
    width: 100%;
    display: block;
}
.hot-activity .card img:hover{
    scale: 1.1;
    transition: .5s;
}
.hot-activity .card{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.hot-activity .card .detail{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 30px;
    display: flex;
    padding: 24px;
}
.hot-activity .card .detail a{
    position: absolute;
    right: 65px;
    bottom: 130px;
    background-color: var(--color-accent-yellow-500);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.hot-activity .card:hover .detail a{
    background-color: var(--color-accent-yellow-800);
    transition: .3s;
    transform: translateY(-10px);
}
.hot-activity .card .day{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height:150px;
    border: 1px solid var(--color-white);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 10px;
}
.hot-activity .card .day span{
    color: var(--color-white);
}
.hot-activity .card .day{
    text-align: center;
    margin-right: 20px;
    text-shadow: 4px 4px 10px var(--color-neutral-800);
}
.hot-activity .card .day .date{
    color: var(--color-accent-yellow-500);
}
.hot-activity .card .day .time{
    letter-spacing: 0;
}
.hot-activity .card .day .week{
    border: 1px solid var(--color-white);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: auto;
}
.hot-activity .card .activity-name *{
    color: var(--color-white);
    text-shadow: 4px 4px 10px var(--color-neutral-800);
}
.hot-activity .card .activity-name{
    padding: 10px 0;
}
.hot-activity .card .sign-up{
    display: flex;
    margin-top: 8px;
}
.hot-activity .card .sign-up p:first-child{
    display: flex;
    margin: 6px 8px 0 0;
}

/* activity的滑動動畫按鈕 */
.hot-activity-swiper .swiper-pagination-bullet{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-accent-green-700);
    color: var(--color-accent-green-700);
    opacity: 1;
}
.hot-activity-swiper .swiper-pagination-bullet:hover{
    background-color: var(--color-accent-green-200);
    color: var(--color-accent-green-700);
    transition: .3s;
}
.hot-activity-swiper .swiper-pagination-bullet-active{
    background-color: var(--color-accent-green-700);
    color: var(--color-white);
}
.activity-pagination{
    margin: 30px 0 100px 0;
}


/* ==== best-moments ==== */
.best-moments{
    position: relative;
    height: 90vh;
    overflow: hidden;
    padding: 100px 0 120px 0;
}
.best-moments .main-image img{
    width: 70%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}
.text-overlay h2{
    margin-bottom: 50px;
}
.text-overlay p{
    margin-bottom: 24px;
}
.best-moments .swiper-wrapper{
    display: flex;
    justify-content: end;
    z-index: 2;
    font-size: 0;
    width: 100%;;
}
.best-moments .swiper-wrapper img{
    border: 1px solid var(--color-white);
}
.best-moments .swiper{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.best-moments .bg{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    z-index: -1;
}


/* ==== login signup ==== */
.imgHidden, .modalHidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modal-content{
    position: relative;
    padding: 51px 0;
    border-radius: 30px;
    width: 1000px;
    height: 484px;
}
#account .modal-content{
    background-color: var(--color-white);
}
.tour-guide .modal-content{
    width: 1240px;
    height: 650px;
    padding: 50px 128px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.tour-guide .modal-content p{
    margin-bottom: 30px;
}
.tour-guide .modal-content img:nth-last-child(2){
    width: 180px;
    z-index: 5;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.tour-guide .modal-content img:last-child{
    border-radius: 30px;
}

form{
    width: 80%;
}
.form-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.form-panel form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-panel button{
    align-self: flex-end;
    background: none;
}
.form-panel .h2-eg-medium{
    color: var(--color-accent-green-700);
    width: 80%;
}
.form-panel a{
    text-decoration: none;
}
.form-panel a:hover{
    color:var(--color-accent-green-700);
}
form label{
    border-bottom: 1px solid var(--color-neutral-500);
}
label:has(input:focus){
    border-bottom: 1px solid var(--color-black);
}
.form-panel .forget{
    font-size: 0.75rem;
}

.account .modal-content h2{
    margin-bottom: 24px;
    width: 80%;
}
.modal-content input{
    border:none;
    padding: 10px 50px 10px 10px;
}
input:focus{
    outline: none;
}
#switch-signup a:hover span{
    color:var(--color-accent-green-700);
    transform: translateX(-6px);
    transition: .3s;
}
#switch-login a:hover span{
    color:var(--color-accent-green-700);
    transform: translateX(6px);
    transition: .3s;
}
#switch-signup, #switch-login{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 10px;
}
#switch-signup *,#switch-login *{
    display: flex;
    align-items: center;
}
#signup-panel img, #login-panel img{
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}
#login-panel img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px 0 0 30px;
    transition: .3s;
}
#signup-panel img{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 30px 30px 0;
    transition: .3s;
}

/* 叉叉 */
.close-btn{
    width:40px;
    height: 40px;
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}
.close-btn:hover{
    background-color: var(--color-accent-green-200);
}
.close-btn:hover span{
    background-color: var(--color-accent-green-700);
}
.close-btn span{
    position: absolute;
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--color-accent-green-700);
    top: 19px;
    left:7px;
}
.close-btn span:first-child{
    transform: rotate(45deg);
}
.close-btn span:nth-child(2){
    transform: rotate(135deg);
}
