.activity-page{
    position: relative;
    overflow: hidden;
}
.activity .activity-bg2{
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: -1;
}
.activity-page .activity-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
@media screen and (max-width: 1440px){
    .activity-page .activity-bg{
        left: -240px;
    }
}
@media screen and (max-width: 1200px){
    .activity-page .activity-bg{
        left: -360px;
    }
}
@media screen and (max-width: 1024px){
    .activity-page .activity-bg{
        left: -448px;
    }
}
@media screen and (max-width: 810px){
    .activity-page .activity-bg{
        left: -555px;
    }
}
@media screen and (max-width: 440px){
    .activity-page .activity-bg{
        left: -740px;
    }
}