.activity-page{
    position: relative;
}
.activity .activity-bg2{
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: -1;
}
.activity.activity-page .col-4:nth-child(-n+3){
    margin-bottom: 60px;
}
@media screen and (max-width: 440px){
    .activity.activity-page .col-4:nth-child(-n+5){
        margin-bottom: 60px;
    }
}