.contact .card{
    border: 1px solid var(--color-neutral-500);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    background-color: var(--color-white);
    margin-bottom: 120px;
}
iframe{
    /* margin: 0 0 140px 0; */
    width: 100%;
    /* height: 510px; */
}
.traffic{
    padding-bottom: 100px;
}
.traffic .title{
    margin-bottom: 50px;
}
.traffic .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.traffic .text h5{
    margin-bottom: 10px;
}
.traffic .text div{
    margin-bottom: 30px;
}
