
.books-list{
    margin-top: 60px;
}
.newbooks-bg1{
    position: absolute;
    top: 0;
    z-index: -1;
}
.newbooks-list{
    display: flex;
    position: relative;
}
@media screen and (max-width: 810px){
    .newbooks-list .btn-group ul{
        justify-content: start;
    }
    .newbooks-list img{
        width: 70%;
    }
    .newbooks-bg1{
        width: 60%;
    }
}
@media screen and (max-width: 440px){
    .newbooks-list img{
        width: 90%;
    }
}