.search-title{
    position: relative;
    padding-bottom: 60px;
    display: flex;
    overflow: hidden;
}
.search-title h1{
    text-align: center;
    padding: 200px 0 50px 0;
}
.search-title img{
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
.search-title .hot{
    text-align: center;
}
.search-title .select-btn-group{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.search-books .tool{
    justify-content: space-between;
    border-bottom: 1px solid var(--color-neutral-500);
    padding: 0 10px 10px 10px;
}
.search-books .book-list{
    padding: 50px 0;
    border-bottom: 1px solid var(--color-neutral-500);
}
.search-books .book-list a{
    text-decoration: none;
}
.search-books h5:hover a{
    color: var(--color-accent-green-700);
}
.book-list .detail{
    display: flex;    
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.book-list .detail p{
    margin-right: 20px;
}
.book-list .detail .col-10{
    display: flex;
}
.book-list .btn-group{
    margin-top: 30px;
}
.book-list .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-list:last-child{
    margin-bottom: 30px;
}
.tag{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tag span{
    background-color: var(--color-neutral-200);
    padding: 0 16px;
}
@media screen and (max-width: 1440px){
    .search-title img{
        left: -240px;
    }
}
@media screen and (max-width: 1200px){
    .search-title img{
        left: -360px;
    }
}
@media screen and (max-width: 1024px){
    .search-title img{
        left: -448px;
    }
}
@media screen and (max-width: 810px){
    .search-title img{
        left: -555px;
    }
}
@media screen and (max-width: 440px){
    .search-books .book-list img,
    .search-books .book-list h5{
        margin-bottom: 10px;
    }
    .search-title img{
        left: -740px;
    }
}