.search-title{
    position: relative;
    padding-bottom: 60px;
    display: flex;
    overflow: hidden;
}
.search-title h1{
    text-align: center;
    padding: 200px 0 50px 0;
}
.search-title img{
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
.search-title .hot{
    text-align: center;
}
.select-btn-group{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 16px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.select-btn-group::-webkit-scrollbar{
    display: none;
}
.select-wrapper{
    flex-shrink: 0;
    position: relative;
    display: inline-block;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 36px 0 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid var(--color-neutral-500);
}

.select-btn option{
    text-align: center;
}
.select-wrapper span{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-books .tool{
    justify-content: space-between;
    border-bottom: 1px solid var(--color-neutral-500);
    padding: 0 10px 10px 10px;
}
.search-books .book-list{
    padding: 50px 0;
    border-bottom: 1px solid var(--color-neutral-500);
}
.search-books .book-list a{
    text-decoration: none;
}
.search-books h4:hover a{
    color: var(--color-accent-green-700);
}
.book-list .detail{
    display: flex;    
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.book-list .detail p{
    margin-right: 20px;
}
.book-list .detail .col-10{
    display: flex;
}
.book-list .btn-group{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.book-list .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-list:last-child{
    margin-bottom: 30px;
}
.book.tag{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.book.tag span{
    background-color: var(--color-neutral-200);
    padding: 0 16px;
}
@media screen and (max-width: 1440px){
    .search-title img{
        left: -240px;
    }
}
@media screen and (max-width: 1200px){
    .search-title img{
        left: -360px;
    }
}
@media screen and (max-width: 1024px){
    .search-title img{
        left: -448px;
    }
}
@media screen and (max-width: 810px){
    .search-title img{
        left: -555px;
    }
}
@media screen and (max-width: 440px){
    .search-books .book-list img,
    .search-books .book-list h5{
        margin-bottom: 10px;
    }
    .search-title img{
        left: -740px;
    }
}