/* tour-guide label按鈕 */
.label .row{
    display: flex;
    padding: 0 10px;
    gap: 10px;
}

.label-btn{
    width: 140px;
    height: 140px;
    border-radius: 80px;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: var(--font-main); font-weight:400; 
    font-size: 20px;
    line-height: 150%;
    transition: width .3s;
}
.label-btn span{
    font-size: 2.5rem;
}
.label-btn.active{
    width: 280px;
    height: 140px;
    border-radius: 80px;
    font-family: var(--font-main);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-ch);
    font-weight:500;
    font-size: 24px;
    transition: width .3s;
}
.label-btn.active::after{
    content: "";
    width: 24px;
    height: 12px;
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: -37px;
    left: 128px;
}

/* label pink */
.label-btn.pink{
    border: 1px solid var(--color-secondary-pink-700);
    background-color: var(--color-white);
}
.label-btn.pink:hover{
    background-color: var(--color-secondary-pink-100);
    color: var(--color-secondary-pink-700);
    transition: .3s;
}
.label-btn.pink:hover span{
    color: var(--color-secondary-pink-700);
}
.label-btn.pink.active span{
    font-size: 4rem;
    color: var(--color-secondary-pink-700);
}
.label-btn.active.pink{
    border: 1px solid var(--color-secondary-pink-700);
    color: var(--color-secondary-pink-700);
    background-color: var(--color-secondary-pink-100);
}
/* label小圓點 */
.label-btn.active.pink::after{
    background-color: var(--color-secondary-pink-700);
}

/* label orange */
.label-btn.orange{
    border: 1px solid var(--color-secondary-orange-700);
    background-color: var(--color-white);
}
.label-btn.orange:hover{
    background-color: var(--color-secondary-orange-100);
    color: var(--color-secondary-orange-700);
    transition: .3s;
}
.label-btn.orange:hover span{
    color: var(--color-secondary-orange-700);
}
.label-btn.orange.active span{
    font-size: 4rem;
    color: var(--color-secondary-orange-700);
}
.label-btn.active.orange{
    border: 1px solid var(--color-secondary-orange-700);
    color: var(--color-secondary-orange-700);
    background-color: var(--color-secondary-orange-100);
}
/* label小圓點 */
.label-btn.active.orange::after{
    background-color: var(--color-secondary-orange-700);
}

/* label purple */
.label-btn.purple{
    border: 1px solid var(--color-secondary-purple-700);
    background-color: var(--color-white);
}
.label-btn.purple:hover{
    background-color: var(--color-secondary-purple-100);
    color: var(--color-secondary-purple-700);
    transition: .3s;
}
.label-btn.purple:hover span{
    color: var(--color-secondary-purple-700);
}
.label-btn.purple.active span{
    font-size: 4rem;
    color: var(--color-secondary-purple-700);
}
.label-btn.active.purple{
    border: 1px solid var(--color-secondary-purple-700);
    color: var(--color-secondary-purple-700);
    background-color: var(--color-secondary-purple-100);
}
/* label小圓點 */
.label-btn.active.purple::after{
    background-color: var(--color-secondary-purple-700);
}

/* 大區塊 */
.content-wrapper{
    padding: 0 0 100px 0;
    position: relative;
    overflow: hidden;
}
.content-wrapper .outer-frame{
    padding: 60px;
    background-color: var(--color-white);
    max-width: 1380px;
    margin: 0 auto;
    border-radius: 40px;
}
.content-wrapper img:last-child{
    position: absolute;
    z-index: -1;
    bottom: -20px;
}
/* pink */
.content-wrapper .outer-frame.pink{
    border: 1px solid var(--color-secondary-pink-700);
}
/* orange */
.content-wrapper .outer-frame.orange{
    border: 1px solid var(--color-secondary-orange-700);
}
/* purple */
.content-wrapper .outer-frame.purple{
    border: 1px solid var(--color-secondary-purple-700);
}


/* 控制卡片行間距 */
.outer-frame.good-books .row:nth-of-type(-n+2){
    display: flex;
}
/* .outer-frame.student-activity .row:nth-of-type(-n+2){
    display: flex;
    margin-bottom: 50px;
} */
.outer-frame .row:nth-of-type(4){
    justify-content: end;
}
.outer-frame .page-btn{
    display: flex;
    justify-content: end;
    margin: 50px 0 0 0;
}
.label{
    position: relative;
    padding: 40px 0 35px 0;
    overflow: hidden;
}
.tour-guide-pink-bg,
.tour-guide-orange-bg,
.tour-guide-purple-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* .title-area.pink,
.title-area.orange,
.title-area.purple{
    padding-bottom: 41.2px;
} */

/* pink purple reading card */
/* 行間距 */
/* .outer-frame.reading .row:nth-of-type(-n+2){
    display: flex;
    margin-bottom: 50px;
} */
.reading a{
    text-decoration: none;
}
.reading .card{
    border: 1px solid var(--color-neutral-500);
    padding: 10px;
    border-radius: 20px;
    position: relative;
    /* height: 100%; */
    margin-top: 40px;
}

.reading .card img{
    border-radius: 14px 14px 0 0;
    width: 100%;
    display: block;
}
.reading .card .title{
    text-align: center;
    margin: 12px 0;
}
.reading .card .title.pink:hover{
    color: var(--color-secondary-pink-700);
}
.reading .card .title.purple:hover{
    color: var(--color-secondary-purple-700);
}
/* mask */
.reading .card-mask{
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 14px 14px 0 0;
}
.reading .card-mask::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: opacity .7s ease;
    opacity: 0;
}

.reading .card-mask .detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 35px;
    z-index: 2;
    transition: opacity .7s ease;
    font-size: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}
.reading .card-mask .detail p{
    color: var(--color-white);
}
.reading .card-mask .detail .tag{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 8px;
}
.reading .card-mask .tag span{
    background-color: var(--color-white);
    display: inline-block;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 16px;
}
.reading .card-mask .arrow{
    z-index: 2;
    color: var(--color-white);
    position: absolute;
    font-size: 1.5rem;
    transform: translate(5px, -5px);
    top: 16px;
    right: 16px;
    opacity: 0;
}
/* hover */
.reading .card:hover .card-mask::before, 
.reading .card:hover .card-mask .detail, 
.reading .card:hover .card-mask .detail .arrow{
    opacity: 1;
}
/* card hover pink */
.reading.pink .card:hover{
    border: 1px solid var(--color-secondary-pink-700);
    background-color: var(--color-secondary-pink-100);
    transition: .3s;
}
/* card hover purple */
.reading.purple .card:hover{
    border: 1px solid var(--color-secondary-purple-700);
    background-color: var(--color-secondary-purple-100);
    transition: .3s;
}

/* pink learning */
.kid-learning .card{
    border: 1px solid var(--color-neutral-500);
    border-radius: 20px;
    display: flex;
    padding: 24px;
    margin-top: 40px;
}
.kid-learning .card img{
    border-radius: 12px;
    margin-right: 24px;
}
.kid-learning a{
    text-decoration: none;
}
.kid-learning .card h5{
    color: var(--color-secondary-pink-700);
}
.kid-learning .card .detail{
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.kid-learning .card:hover{
    border: 1px solid var(--color-secondary-pink-700);
    background-color: var(--color-secondary-pink-100);
    transition: all .3s;
}
/* pink learning card */
/* 行間距 */
/* .outer-frame.kid-learning .row:nth-of-type(-n+4){
    display: flex;
    margin-bottom: 30px;
} */

/* orange advanced-course */
.star .fa-star{
    color: var(--color-neutral-200);
}
.star .active{
    color: var(--color-accent-yellow-500);
}

/* orange paper card */
/* 行間距 */
/* .outer-frame.paper .row:nth-of-type(-n+3){
    display: flex;
    margin-bottom: 50px;
} */
.paper .card{
    border: 1px solid var(--color-neutral-500);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 36px;
    margin-top: 40px;
    cursor: pointer;
}
.paper .card:hover{
    border: 1px solid var(--color-secondary-orange-700);
    background-color: var(--color-secondary-orange-100);
    transition: .3s;
}
.paper .card .tool{
    display: flex;
    justify-content: space-between;
}
.paper .card .tool input{
    width: 30px;
    height: 30px;
}
.paper .card .star{
    font-size: 20px;
}

.paper .card .title{
    margin-top: 20px;
}
.paper .card .statistics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.paper .card .statistics ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.paper .card .statistics .stat-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.paper .card .statistics a{
    text-decoration: none;
    display: inline-flex;
    margin-top: 20px;
    color: var(--color-secondary-orange-700);
}
.paper .card .statistics a span{
    margin-right: 10px;
    color: var(--color-secondary-orange-700);
}
.paper .card .statistics a:hover{
    border-bottom: 2px solid var(--color-secondary-orange-700);
    font-weight: 500;
    transition: .3s;
}

/* orange financial */
.financial img{
    border-radius: 20px;
    display: block;
    width: 100%;
}
.financial .card{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
}
.financial .card:hover img{
    scale: 1.2;
    transition: .3s;
}
.financial .card-mask{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 100%;
    padding: 32px;
    bottom: 0;
    left:0;
    z-index: 1;
}
.financial h4 a{
    text-decoration: none;
}
.financial h4 a:hover{
    color: var(--color-secondary-orange-700);
}
.financial .card-mask h5, 
.financial .card-mask p{
    color: var(--color-white);
    z-index: 2;
    gap:6px;
}
.financial .card-mask div{
    display: flex;
    justify-content: space-between;
}
.financial ul{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.financial .btn-mid{
    margin-bottom: 0;
}
.financial li {
    margin-bottom: 12px;
    list-style: none; 
}
.financial li a{
    text-decoration: none;
}
.financial li:hover a{
    color: var(--color-secondary-orange-700);
}

.recommend-list .title{
    margin:0 0 20px 0;
}
.recommend-list ul{
    list-style: none;
}

.recommend-list li{
    border: 1px solid var(--color-neutral-500);
    text-align: center;
    border-radius: 20px;
}
.recommend-list li a{
    display: block;
    width: 100%;
    padding: 16px;
}
.recommend-list li:hover{
    background-color: var(--color-secondary-orange-100);
    border: 1px solid var(--color-secondary-orange-700);
    color: var(--color-secondary-orange-700);
    text-decoration: none;
}
.recommend-list li:hover a{
    text-decoration: none;
}
.scroll-box{
    overflow-x: auto;
}
.medical .card{
    border: 1px solid var(--color-neutral-500);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
}
.medical .card img{
    margin-right: 24px;
    border-radius: 14px;
}
.medical .card .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.medical .card .detail p:nth-child(3){
    margin-bottom: 20px;
}
.medical .card .detail h5{
    color: var(--color-secondary-purple-700);
}
.medical .card:hover{
    background-color: var(--color-secondary-purple-100);
    border: 1px solid var(--color-secondary-purple-700);
    transition: .3s;
    cursor: pointer;
}
.medical .card:hover span{
    background-color: var(--color-white);
}
/* .medical .card .tag span{
    margin-top: 24px;
} */
.medical ul{
    margin-top: 20px;
    border: 1px solid var(--color-neutral-500);
    border-radius: 20px;
    padding: 20px;
    list-style: none;
}
.medical ul li{
    padding: 20px;
    border-bottom: 1px solid var(--color-neutral-500);
}
.medical ul li a{
    text-decoration: none;
}
.medical ul li a:hover{
    color: var(--color-secondary-purple-700);
}
.medical ul li:last-child{
    border-bottom: none;
}
.tour-guide-pink-bg-w810,
.tour-guide-orange-bg-w810,
.tour-guide-purple-bg-w810,
.tour-guide-pink-bg-w440,
.tour-guide-orange-bg-w440,
.tour-guide-purple-bg-w440{
    display: none;
}

@media screen and (max-width: 1440px){
    .pink .tour-guide-pink-bg,
    .tour-guide-pink-bg,
    .orange .tour-guide-orange-bg,
    .tour-guide-orange-bg,
    .purple .tour-guide-purple-bg,
    .tour-guide-purple-bg{
        left: -240px;
    }
    .outer-frame{
        width: 95%;
    }
}

@media screen and (max-width: 1024px){
    .outer-frame{
        width: 95%;
    }
    .content-wrapper .outer-frame{
        padding: 30px;
    }
    .paper .card .statistics ul{
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    .paper .card .statistics a{
        width: 100%;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 810px){
    .pink .tour-guide-pink-bg,
    .tour-guide-pink-bg,
    .orange .tour-guide-orange-bg,
    .tour-guide-orange-bg,
    .purple .tour-guide-purple-bg,
    .tour-guide-purple-bg{
        display: none;
    }
    .title-area .text-overlay .p2{
        margin-bottom: 0;
    }
    .label{
        padding-bottom: 30px;
    }
    .label .row{
        display: flex;
        gap: 16px;
        padding: 0 10px;
    }
    .label-btn.active{
        width: 200px;
    }
    .label-btn.active::after{
        bottom: -32px;
        left: 88px;
    }
    .content-wrapper .outer-frame{
        padding: 30px 20px
    }
    .kid-learning .card img{
        width: 140px;
        height: 140px;
        margin-right: 20px;
    }
    .kid-learning .card{
        padding: 20px;
    }
    .tour-guide-pink-bg-w810,
    .tour-guide-orange-bg-w810,
    .tour-guide-purple-bg-w810{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}
@media screen and (max-width: 440px){
    .good-books img{
        width: 90%;
    }
    .label{
        padding: 0 0 30px 0;
    }
    .label .row{
        justify-content: space-between;
        align-items: space-between;
    }
    .label-btn,
    .label-btn.active{
        width: calc(50% - 8px);
        height: 100px;
        
    }
    .label-btn.active::after{
        display: none;
    }
    .label-btn span{
        font-size: 2rem;
    }
    .label-btn.pink.active,
    .label-btn.orange.active,
    .label-btn.purple.active{
        font-size: 1.3rem;
    }
    .label-btn.pink.active span,
    .label-btn.orange.active span,
    .label-btn.purple.active span{
        font-size: 3rem;
    }
    .content-wrapper .outer-frame.pink,
    .content-wrapper .outer-frame.orange,
    .content-wrapper .outer-frame.purple{
        border: 0;
        padding: 0 20px;
    }
    .title-area.pink,
    .title-area.orange,
    .title-area.purple{
        padding-bottom: 0;
    }
    .content-wrapper{
        padding-bottom: 60px;
    }
    .kid-learning .card img{
        width: 100%;
        height: auto;
        margin: 0 0 16px 0;
    }
    .kid-learning .card{
        padding: 16px;
        display: flex;
        flex-direction: column;
    }
    
    
    .financial .card-mask{
    padding: 16px;
}
    .medical .card{
        flex-direction: column;
    }
    .medical .card img{
        width: 100%;
        height: auto;
        margin: 0 0 16px 0;
    }
    .tour-guide-pink-bg-w810,
    .tour-guide-orange-bg-w810,
    .tour-guide-purple-bg-w810{
        display: none;
    }
    .tour-guide-pink-bg-w440,
    .tour-guide-orange-bg-w440,
    .tour-guide-purple-bg-w440{
        display: block;
        position: absolute;
        top: -100px;
        right: 0;
        z-index: -1;
    }
}