/* btn共用屬性 */

.page-btn{
    display: flex;
    gap:12px;
}
.page-btn .btn-sm{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-white);
}
.page-btn.green{
    display: flex;
    justify-content: end;
    margin: 30px 0 100px;
}

/* green */
.page-btn.green .btn-sm:hover, .page-btn.green .btn-sm.active:hover{
    background-color: var(--color-accent-green-200);
    color: var(--color-accent-green-700);
    transition: .3s;
}
.page-btn.green .btn-sm.active{
    background-color: var(--color-accent-green-700);
    color: var(--color-white);
}
.page-btn.green .btn-sm{
    border: 1px solid var(--color-accent-green-700);
    color: var(--color-accent-green-700);
}

/* pink */
.page-btn.pink .btn-sm:hover, .page-btn.pink .btn-sm.active:hover{
    background-color: var(--color-secondary-pink-200);
    color: var(--color-secondary-pink-700);
    transition: .3s;
}
.page-btn.pink .btn-sm.active{
    background-color: var(--color-secondary-pink-700);
    color: var(--color-white);
}
.page-btn.pink .btn-sm{
    border: 1px solid var(--color-secondary-pink-700);
    color: var(--color-secondary-pink-700);
}
/* orange */
.page-btn.orange .btn-sm:hover, .page-btn.orange .btn-sm.active:hover{
    background-color: var(--color-secondary-orange-200);
    color: var(--color-secondary-orange-700);
    transition: .3s;
}
.page-btn.orange .btn-sm.active{
    background-color: var(--color-secondary-orange-700);
    color: var(--color-white);
}
.page-btn.orange .btn-sm{
    border: 1px solid var(--color-secondary-orange-700);
    color: var(--color-secondary-orange-700);
}
/* purple */
.page-btn.purple .btn-sm:hover, .page-btn.purple .btn-sm.active:hover{
    background-color: var(--color-secondary-purple-200);
    color: var(--color-secondary-purple-700);
    transition: .3s;
}
.page-btn.purple .btn-sm.active{
    background-color: var(--color-secondary-purple-700);
    color: var(--color-white);
}
.page-btn.purple .btn-sm{
    border: 1px solid var(--color-secondary-purple-700);
    color: var(--color-secondary-purple-700);
}


/* 小標籤按鈕 */
.btn-group{
    overflow-x: scroll;
}
.btn-group::-webkit-scrollbar{
    display: none;
}
.btn-group ul{
    display: flex;
    gap: 10px;
    justify-content: end;
}
.btn-group li{
    list-style-type: none;
    padding: 8px;
    cursor: pointer;
    flex-shrink: 0;
}
.btn-group li button{
    display: block;
    text-decoration: none;
    color: var(--color-neutral-800);
    background: none;
    border: none;
    cursor: pointer;
}
.btn-group.line{
    border-bottom: 1px solid var(--color-neutral-500);
}
@media screen and (max-width: 440px){
    .btn-group ul{
        justify-content: start;
    }
}

/* 小標籤按鈕狀態 */
.btn-group.green ul li:hover, 
.btn-group.green ul li.active{
    border-bottom: 2px solid var(--color-accent-green-700);
}
.btn-group.green ul li:hover button, 
.btn-group.green ul li.active button{
    color: var(--color-accent-green-700);
    font-weight: 500;
}
.btn-group.pink ul li:hover, 
.btn-group.pink ul li.active{
    border-bottom: 2px solid var(--color-secondary-pink-700);
}
.btn-group.pink ul li:hover button, 
.btn-group.pink ul li.active button{
    color: var(--color-secondary-pink-700);
    font-weight: 500;
}
.btn-group.orange ul li:hover, 
.btn-group.orange ul li.active{
    border-bottom: 2px solid var(--color-secondary-orange-700);
}
.btn-group.orange ul li:hover button, 
.btn-group.orange ul li.active button{
    color: var(--color-secondary-orange-700);
    font-weight: 500;
}
.btn-group.purple ul li:hover, 
.btn-group.purple ul li.active{
    border-bottom: 2px solid var(--color-secondary-purple-700);
}
.btn-group.purple ul li:hover button, 
.btn-group.purple ul li.active button{
    color: var(--color-secondary-purple-700);
    font-weight: 500;
}


/* 大按鈕 */
.big-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 318px;
    border-radius: 30px;
    text-decoration: none;
}
.big-btn.right:hover span{
    transform: translateX(10px);
    transition: .3s;
}
.big-btn.left:hover span{
    transform: translateX(-10px);
    transition: .3s;
}
/* 深色大按鈕 */
.big-btn.dark{
    color: var(--color-white);
    background-color: var(--color-accent-green-700);
}
.big-btn.dark:hover{
    background-color: var(--color-accent-green-500);
    box-shadow: 4px 4px 10px var(--color-neutral-500);
}
.big-btn.dark span{
    color: var(--color-white);
    font-size: 2rem;
}
/* 線框大按鈕 */
.big-btn.line{
    color: var(--color-accent-green-700);
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-white);
}
.big-btn.line:hover{
    background-color: var(--color-accent-green-200);
}
.big-btn.line span{
    color: var(--color-accent-green-700);
}

/* 淺色大按鈕 */
.big-btn.light{
    color: var(--color-white);
    border: 1px solid var(--color-white);
}
.big-btn.light span{
    color: var(--color-white);
    font-size: 2rem;
}
/* pink */
.big-btn.light.pink:hover{
    background-color: var(--color-secondary-pink-100);
    color: var(--color-secondary-pink-700);
}
.big-btn.light.pink:hover span{
    color: var(--color-secondary-pink-700);
    transform: translateX(10px);
    transition: .3s;
}
/* orange */
.big-btn.light.orange:hover{
    background-color: var(--color-secondary-orange-100);
    color: var(--color-secondary-orange-700);
}
.big-btn.light.orange:hover span{
    color: var(--color-secondary-orange-700);
    transform: translateX(10px);
    transition: .3s;
}
/* purple */
.big-btn.light.purple:hover{
    background-color: var(--color-secondary-purple-100);
    color: var(--color-secondary-purple-700);
}
.big-btn.light:hover span{
    color: var(--color-secondary-purple-700);
    transform: translateX(10px);
    transition: .3s;
}

/* 小按鈕 */
.little-btn{
    padding: 0 20px;
    line-height: 45px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
}
.little-btn span{
    color: var(--color-white);
    vertical-align: middle;
    margin-right:6px 
}

.little-btn.yellow{
    background-color: var(--color-accent-yellow-500);
    color: var(--color-neutral-800);
}
.little-btn.yellow:hover{
    background-color: var(--color-accent-yellow-700);
    transition: .3s;
}

.little-btn.green{
    background-color: var(--color-accent-green-700);
    color: var(--color-white);
}
.little-btn.green:hover{
    background-color: var(--color-accent-green-800);
    color: var(--color-accent-green-200);
    transition: .3s;
}
.little-btn.green:hover span{
    color: var(--color-accent-green-200);
    transition: .3s;
}
.little-btn.green-line{
    color: var(--color-accent-green-700);
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-white);
}
.little-btn.green-line span{
    color: var(--color-accent-green-700);
    font-size: 1.4rem;
}
.little-btn.green-line:hover{
    background-color: var(--color-accent-green-200);
    transition: .3s;
}

/* disabled */
.little-btn.gray{
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-500);
    cursor: default;
}

/* select-btn */
.select-btn-group{
    gap: 10px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 36px 0 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid var(--color-neutral-500);
}

.select-btn option{
    text-align: center;
}
.select-wrapper{
    position: relative;
    display: inline-block;
}
.select-wrapper span{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media screen and (max-width: 440px){
    .big-btn.light.pink:hover span{
        transform: translateX(0px);
    }
    .big-btn.light.orange:hover span{
        transform: translateX(0px);
    }
    .big-btn.light:hover span{
        transform: translateX(0px);
    }
}