/* ==== login signup ==== */
.imgHidden, .modalHidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    z-index: 20;
}
.modal-content{
    position: relative;
    padding: 51px 0;
    border-radius: 30px;
    width: 1000px;
    height: 484px;
}
#account .modal-content{
    background-color: var(--color-white);
}
.tour-guide .modal-content{
    width: 1024px;
    height: 580px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.tour-guide .modal-content p{
    margin-bottom: 20px;
}
.tour-guide .modal-content img:nth-last-child(2){
    width: 180px;
    z-index: 5;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.tour-guide .modal-content img:last-child{
    border-radius: 30px;
}
form{
    width: 80%;
}
.form-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    height: 100%;
}
#switch-signup,
#switch-login{
    width: 80%;
}
.form-wrapper{
    height: 100%;
}
.form-panel form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-panel button{
    align-self: flex-end;
    background: none;
}
.form-panel .h2-eg-medium{
    color: var(--color-accent-green-700);
    width: 80%;
}
.form-panel a{
    text-decoration: none;
}
.form-panel a:hover{
    color:var(--color-accent-green-700);
}
form label{
    border-bottom: 1px solid var(--color-neutral-500);
}
label:has(input:focus){
    border-bottom: 1px solid var(--color-black);
}
.form-panel .forget{
    font-size: 0.75rem;
}

.account .modal-content h2{
    /* margin-bottom: 24px; */
    width: 80%;
}
.modal-content input{
    border:none;
    padding: 10px 50px 10px 10px;
}
input:focus{
    outline: none;
}
#switch-signup a:hover span,
#switch-signup1 a:hover span{
    color:var(--color-accent-green-700);
    transform: translateX(-6px);
    transition: .3s;
}
#switch-login a:hover span,
#switch-login1 a:hover span{
    color:var(--color-accent-green-700);
    transform: translateX(6px);
    transition: .3s;
}
#switch-signup, #switch-login,
#switch-signup1, #switch-login1
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 10px;
}
#switch-signup *,
#switch-login *,
#switch-signup1 *,
#switch-login1 *{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
#signup-panel img, #login-panel img{
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}
#login-panel img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px 0 0 30px;
    transition: .3s;
}
#signup-panel img{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 30px 30px 0;
    transition: .3s;
}
#switch-login1,
#switch-signup1{
    display: none;
}
/* 叉叉 */
.close-btn{
    width:40px;
    height: 40px;
    border: 1px solid var(--color-accent-green-700);
    background-color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}
.close-btn:hover{
    background-color: var(--color-accent-green-200);
}
.close-btn:hover span{
    background-color: var(--color-accent-green-700);
}
.close-btn span{
    position: absolute;
    display: block;
    height: 2px;
    width: 24px;
    background-color: var(--color-accent-green-700);
    top: 19px;
    left:7px;
}
.close-btn span:first-child{
    transform: rotate(45deg);
}
.close-btn span:nth-child(2){
    transform: rotate(135deg);
}
@media screen and (max-width: 1024px){
    .modal-content{
        width: 340px;
        overflow: hidden;
    }
    .account img{
        display: none;
    }
    .form-wrapper{
        width: 720px;
        height: 100%;
        transform: translateX(0%);
        transition: transform .5s ease-in-out;
    }
    .modal-content input{
        border:none;
        padding: 10px;
    }
    #switch-login,
    #switch-signup{
        display: none;
    }
    #switch-login1,
    #switch-signup1{
        display: flex;
        width: 80%;
    }
    .form-wrapper .change{
        transform: translateX(-100%);
        /* transition: transform .5s ease-in-out; */
    }
}