/* pink */
header .title-area.pink  .col-8 > span{
    color: var(--color-secondary-pink-700);
}
/* orange */
header .title-area.orange  .col-8 > span{
    color: var(--color-secondary-orange-700);
}
/* purple */
header .title-area.purple  .col-8 > span{
    color: var(--color-secondary-purple-700);
}
/* green */
header .title-area.green  .col-8 > span{
    color: var(--color-accent-green-700);
}

/* 中標下方線段共用設定 */
.text-overlay .line{
    border-bottom: 1px solid var(--color-neutral-800);
    width: 70px;
    margin: 24px 0;
}
.title-area .col-8 > span{
    margin-top: 180px;
    margin-bottom: 30px
}
.title-area .col-4 > .text-overlay{
    margin-top: 180px;
}
.title-area .col-8{
    display: flex;
    flex-direction: column;
}
.title-area{
    position: relative;
    overflow: hidden;
}
.title-area.about-page,
.title-area.contact-page{
    height: 450px;
}

.title-area img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.title-area h1{
    margin: -20px 0 50px 0;
}
.title-area .col-4{
    display: flex;
}
.title-area .text-overlay{
    margin-top: 30px;
}
.title-area span.h1-eg-medium{
    line-height: 1;
}

/* bread */
.bread a{
    text-decoration: none;
}

.bread span:last-child{
    color: var(--color-accent-green-700);
}
.bread span.pink{
    color: var(--color-secondary-pink-700);
}
.bread span.orange{
    color: var(--color-secondary-orange-700);
}
.bread span.purple{
    color: var(--color-secondary-purple-700);
}
.bread .green a:hover{
    color: var(--color-accent-green-700);
}
.bread a.pink:hover{
    color: var(--color-secondary-pink-700);
}
.bread a.orange:hover{
    color: var(--color-secondary-orange-700);
}
.bread a.purple:hover{
    color: var(--color-secondary-purple-700);
}
.bread button{
    background: none;
    border: none;
    cursor: pointer;
}
.bread button.green:hover{
    color: var(--color-accent-green-700);
}
.bread button.pink:hover{
    color: var(--color-secondary-pink-700);
}
.bread button.orange:hover{
    color: var(--color-secondary-orange-700);
}
.bread button.purple:hover{
    color: var(--color-secondary-purple-700);
}
@media screen and (max-width: 810px){
    .title-area .col-4 > .text-overlay{
        margin: 30px 0;
    }
}
@media screen and (max-width: 440px){
    .title-area .col-8 > span{
        margin-top: 120px;
    }
    .about-indoor .indoor-img{
        display: none;
    }
    .title-area.contact-page{
        height: 380px;
    }
}