/* pink */
header .title-area.pink  .col-8 > span{
    color: var(--color-secondary-pink-700);
}
/* orange */
header .title-area.orange  .col-8 > span{
    color: var(--color-secondary-orange-700);
}
/* purple */
header .title-area.purple  .col-8 > span{
    color: var(--color-secondary-purple-700);
}
/* green */
header .title-area.green  .col-8 > span{
    color: var(--color-accent-green-700);
}

/* 中標下方線段共用設定 */
.text-overlay .line{
    border-bottom: 1px solid var(--color-neutral-800);
    width: 70px;
    margin: 24px 0;
}


.title-area .col-8 > span{
    margin-top: 220px;
}
.title-area .col-4 > .text-overlay{
    margin-top: 250px;
}
.title-area .col-8{
    display: flex;
    flex-direction: column;
}
.title-area{
    position: relative;
    margin-bottom: 100px;
}
.title-area img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.title-area h1{
    margin: -20px 0 50px 0;
}
.title-area .col-4{
    display: flex;
}
.title-area .text-overlay{
    margin-top: 30px;
}